.background {
    background-color: #E1E1E1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #333333;
    margin: 20px 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}


/* Subtítulos */

h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #333333;
    margin: 15px 0;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}


/* Texto principal */

p,
span,
li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
    line-height: 1.8;
    margin: 10px 0;
}


/* Contenedores de texto */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
}


/* Subir las tarjetas hacia arriba */

.u-clearfix.u-section-4 {
    margin-top: -40px;
}


/* Estilo para botones */

button {
    background-color: #00BCD4;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008BA3;
}


/* Enlaces */

a {
    text-decoration: none;
    color: #00BCD4;
    font-weight: bold;
}

a:hover {
    color: #008BA3;
}


/* Encabezado y Navegación */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #5B9BD5;
    padding: 2px 20px;
    /* Reduce el padding para que sea más delgado */
    box-sizing: border-box;
    color: white;
    margin: 0;
    width: calc(100% - 200px);
    margin-left: 200px;
}

.logo img {
    height: 60px;
    /* Reduce la altura del logo */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    /* Reduce el padding del navbar */
    background-color: transparent !important;
    margin: 0;
}

.navbar a:hover {
    color: #00BCD4;
}


/* Estilos para formularios */

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}


/* Ajuste de las imágenes */

.card-img-bottom {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: -20px;
}

.card-img-bottom.valores {
    margin-top: 20px;
}


/* Tarjetas */

.card {
    position: relative;
    padding: 10px;
    margin: 10px 0;
}


/* Barra deslizadora en "Valores" */

.card-text.scrollable {
    max-height: 150px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: #007bff #f1f1f1;
}

.card-text.scrollable::-webkit-scrollbar {
    width: 8px;
}

.card-text.scrollable::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.card-text.scrollable::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


/* Menu */

nav ul li {
    position: relative;
    margin-right: 65px;
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #070345;
}

footer {
    background-color: #5B9BD5;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}


/* Media Queries para dispositivos móviles */

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        margin-left: 0;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar a {
        margin: 5px 0;
    }
    .container {
        padding: 15px;
    }
    #imagen-valores {
        margin-top: 50px;
        display: block;
    }
}