/* Contenedor del botón flotante de WhatsApp */

.whatsapp-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
    text-align: center;
}


/* Mensaje con fondo redondeado y animación */

.whatsapp-message {
    display: inline-block;
    background-color: #ffffff;
    color: #063818;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideInOut 2s infinite ease-in-out;
}


/* Animación del mensaje */

@keyframes slideInOut {
    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0.8;
    }
}


/* Animación para sacudir el ícono */

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(5px, 0);
    }
    50% {
        transform: translate(0, 5px);
    }
    75% {
        transform: translate(-5px, 0);
    }
    100% {
        transform: translate(0, -5px);
    }
}

.whatsapp-button img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: shake 1s infinite;
    /* Aplica la animación constante */
}


/* Contenedor del QR */

.whatsapp-qr {
    display: none;
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.qr-content img {
    width: 100px;
    height: 100px;
}

.open-chat {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #25D366;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.open-chat:hover {
    background-color: #128C7E;
}

#closeQR {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}